In [2]:
var = 1/2

In [3]:
type(var)

float

In [4]:
1 + 2.3

3.3

In [6]:
1 + int(2.6)

3

In [7]:
1 + round(2.6)

4

In [8]:
abs(-4)

4

In [11]:
import random

In [17]:
random.random()

0.9974497825937525

In [19]:
value_dice = [1,2,3,4,5,6]

In [21]:
random.choice(value_dice)

5

In [27]:
var_bool = 3==5

In [28]:
var_bool

False

In [24]:
type(var_bool)

bool

In [29]:
if var_bool:
    print ("Math is wrong")
else:
    print ("Math is right !")

Math is right !

In [42]:
str = "Aman's Class"

In [43]:
len(str)

12

In [53]:
str[:]

"Aman's Class"

In [51]:
str[-5:]

'Class'

In [56]:
str.split(",")

["Aman's Class"]

In [57]:
str = "The rain in Spain stays mainly in the plain"

In [62]:
x = "rains" in str

In [63]:
print (x)

False

In [61]:
.find("Spain")

12

In [67]:
txt = "My name is {} and i am {} years old"

In [70]:
print(txt.format("Nidhi", 92))

My name is Nidhi and i am 92 years old